In [ ]:
import pandas as pd
#Membuat dataframe dari data yang disalin ke clipboard
df = pd.read_clipboard()

In [2]:
df

       NAMA GENDER  ANGKATAN  TINGGI BADAN  WAKTU PERJALANAN WILAYAH TINGGAL
0     Wawan      L      2024           160                45   Tanjung Priok
1      Diva      P      2024           165                30      Pademangan
2   Indilla      P      2024           159                55          Bekasi
3    Billie      P      2024           170                40       Tangerang
4     Elish      P      2024           155                60            Koja
5       Kai      L      2024           150                20          Sunter
6     Cenat      L      2024           157                30   Kelapa Gading
7  Marshall      L      2024           179                15       Kalideres
8      Lili      P      2024           175                25      Batu Ceper
9     Tirta      L      2024           170                50           Angke

In [7]:
#Menghitung rata rata tinggi badan
rata_tinggi = df['TINGGI BADAN'].mean()
rata_tinggi

np.float64(164.0)

In [8]:
print(df.dtypes)

NAMA                object
GENDER              object
ANGKATAN             int64
TINGGI BADAN         int64
WAKTU PERJALANAN     int64
WILAYAH TINGGAL     object
dtype: object

In [9]:
#Mengubah tipe data kolom 'ANGKATAN' menjadi string
df['ANGKATAN'] = df['ANGKATAN'].astype(str)

In [10]:
print(df.dtypes)

NAMA                object
GENDER              object
ANGKATAN            object
TINGGI BADAN         int64
WAKTU PERJALANAN     int64
WILAYAH TINGGAL     object
dtype: object