In [33]:
import pandas as pd

df = pd.read_clipboard()

# Menampilkan data
print(df)

        NAMA GENDER  ANGKATAN  TINGGI BADAN  WAKTU PERJALANAN WILAYAH TINGGAL
0      Wawan      L      2024           160                45   Tanjung Priok
1       Diva      P      2024           165                30      Pademangan
2    Indilla      P      2024           159                55          Bekasi
3     Billie      P      2024           170                40       Tangerang
4      Elish      P      2024           155                60            Koja
5        Kai      L      2024           150                20          Sunter
6      Cenat      L      2024           157                30   Kelapa Gading
7   Marshall      L      2024           179                15       Kalideres
8       Lili      P      2024           175                25      Batu Ceper
9      Tirta      L      2024           170                50           Angke
10    Rafael      L      2024           175                30       Rawabadak
11     Hasna      P      2024           170                50         Warakas
12  Larongge      L      2024           172                40      Swasembada
13   Fatihul      L      2024           165                45        Papanggo
14     Nizar      L      2024           168                20   Tanjung Duren
15    Charin      P      2024           163                25     Prof Lutmen
16   Ridhwan      L      2024           160                45           Pluit
17      Egla      P      2024           166                10      Pasar Baru
18      Afif      L      2024           170                10          Satria
19     Bagas      L      2024           165                20       Cililitan
20     Anang      L      2024           175                30     Tanah Abang
21     Reina      P      2024           167                55          Cawang
22     Sekar      P      2024           160                40  Kampung Bandan
23      Paul      l      2024           175                60        Cikarang
24       Edi      L      2024           173                30      Pademangan
25      Anna      P      2024           175                30         Pantura
26      Rina      P      2024           159                25            Jeju
27     Darma      L      2024           166                15           Tokyo
28       Dio      L      2024           168                10      Pasar Lama
29      Lala      P      2024           170                 5            Enim

In [34]:
df_subset = df[["TINGGI BADAN"]]
print("Subset Data:\n", df_subset.head())

Subset Data:
    TINGGI BADAN
0           160
1           165
2           159
3           170
4           155

In [35]:
df["Kategori Tinggi"] = df["TINGGI BADAN"].apply(lambda x: "Tinggi" if x > 160 else "Pendek")
print("\nSetelah Mengubah Nilai Tinggi Badan:\n", df[["TINGGI BADAN", "Kategori Tinggi"]].head())

Setelah Mengubah Nilai Tinggi Badan:
    TINGGI BADAN Kategori Tinggi
0           160          Pendek
1           165          Tinggi
2           159          Pendek
3           170          Tinggi
4           155          Pendek

In [36]:
df["Jurusan"] = "Infor20"
df["Fakultas"] = "FTI"
print("\nSetelah Menambah Kolom:\n", df.head())

Setelah Menambah Kolom:
       NAMA GENDER  ANGKATAN  TINGGI BADAN  WAKTU PERJALANAN WILAYAH TINGGAL  \
0    Wawan      L      2024           160                45   Tanjung Priok
1     Diva      P      2024           165                30      Pademangan
2  Indilla      P      2024           159                55          Bekasi
3   Billie      P      2024           170                40       Tangerang
4    Elish      P      2024           155                60            Koja

  Kategori Tinggi  Jurusan Fakultas
0          Pendek  Infor20      FTI
1          Tinggi  Infor20      FTI
2          Pendek  Infor20      FTI
3          Tinggi  Infor20      FTI
4          Pendek  Infor20      FTI

In [37]:
df.drop(columns=["Fakultas"], inplace=True)
print("\nSetelah Menghapus Kolom Fakultas:\n", df.head())

Setelah Menghapus Kolom Fakultas:
       NAMA GENDER  ANGKATAN  TINGGI BADAN  WAKTU PERJALANAN WILAYAH TINGGAL  \
0    Wawan      L      2024           160                45   Tanjung Priok
1     Diva      P      2024           165                30      Pademangan
2  Indilla      P      2024           159                55          Bekasi
3   Billie      P      2024           170                40       Tangerang
4    Elish      P      2024           155                60            Koja

  Kategori Tinggi  Jurusan
0          Pendek  Infor20
1          Tinggi  Infor20
2          Pendek  Infor20
3          Tinggi  Infor20
4          Pendek  Infor20

In [38]:
# Gabung Nama dan Gender
df["Nama_Gender"] = df["NAMA"] + "_" + df["GENDER"]
# Gabung Angkatan dan Tinggi Badan
df["Angkatan_Tinggi"] = df["ANGKATAN"].astype(str) + "_" + df["TINGGI BADAN"].astype(str)
# Gabung dua kolom gabungan di atas
df["Gabungan"] = df["Nama_Gender"] + "_" + df["Angkatan_Tinggi"]
print("\nSetelah Merge Data Frame:\n", df[["Nama_Gender", "Angkatan_Tinggi", "Gabungan"]].head())

Setelah Merge Data Frame:
   Nama_Gender Angkatan_Tinggi            Gabungan
0     Wawan_L        2024_160    Wawan_L_2024_160
1      Diva_P        2024_165     Diva_P_2024_165
2   Indilla_P        2024_159  Indilla_P_2024_159
3    Billie_P        2024_170   Billie_P_2024_170
4     Elish_P        2024_155    Elish_P_2024_155

In [39]:
# Gabungkan baris 1-5 dan 25-30, lalu gabungkan hasilnya
df_baris1 = df.iloc[0:5]
df_baris2 = df.iloc[24:30]
df_baris_merged = pd.concat([df_baris1, df_baris2])
print("\nGabungan Baris:\n", df_baris_merged)

Gabungan Baris:
        NAMA GENDER  ANGKATAN  TINGGI BADAN  WAKTU PERJALANAN WILAYAH TINGGAL  \
0     Wawan      L      2024           160                45   Tanjung Priok
1      Diva      P      2024           165                30      Pademangan
2   Indilla      P      2024           159                55          Bekasi
3    Billie      P      2024           170                40       Tangerang
4     Elish      P      2024           155                60            Koja
24      Edi      L      2024           173                30      Pademangan
25     Anna      P      2024           175                30         Pantura
26     Rina      P      2024           159                25            Jeju
27    Darma      L      2024           166                15           Tokyo
28      Dio      L      2024           168                10      Pasar Lama
29     Lala      P      2024           170                 5            Enim

   Kategori Tinggi  Jurusan Nama_Gender Angkatan_Tinggi            Gabungan
0           Pendek  Infor20     Wawan_L        2024_160    Wawan_L_2024_160
1           Tinggi  Infor20      Diva_P        2024_165     Diva_P_2024_165
2           Pendek  Infor20   Indilla_P        2024_159  Indilla_P_2024_159
3           Tinggi  Infor20    Billie_P        2024_170   Billie_P_2024_170
4           Pendek  Infor20     Elish_P        2024_155    Elish_P_2024_155
24          Tinggi  Infor20       Edi_L        2024_173      Edi_L_2024_173
25          Tinggi  Infor20      Anna_P        2024_175     Anna_P_2024_175
26          Pendek  Infor20      Rina_P        2024_159     Rina_P_2024_159
27          Tinggi  Infor20     Darma_L        2024_166    Darma_L_2024_166
28          Tinggi  Infor20       Dio_L        2024_168      Dio_L_2024_168
29          Tinggi  Infor20      Lala_P        2024_170     Lala_P_2024_170

In [40]:
df_sorted = df.sort_values(by="WAKTU PERJALANAN")
print("\nSetelah Sorting Data:\n", df_sorted.head())

Setelah Sorting Data:
         NAMA GENDER  ANGKATAN  TINGGI BADAN  WAKTU PERJALANAN WILAYAH TINGGAL  \
29      Lala      P      2024           170                 5            Enim
18      Afif      L      2024           170                10          Satria
17      Egla      P      2024           166                10      Pasar Baru
28       Dio      L      2024           168                10      Pasar Lama
7   Marshall      L      2024           179                15       Kalideres

   Kategori Tinggi  Jurusan Nama_Gender Angkatan_Tinggi             Gabungan
29          Tinggi  Infor20      Lala_P        2024_170      Lala_P_2024_170
18          Tinggi  Infor20      Afif_L        2024_170      Afif_L_2024_170
17          Tinggi  Infor20      Egla_P        2024_166      Egla_P_2024_166
28          Tinggi  Infor20       Dio_L        2024_168       Dio_L_2024_168
7           Tinggi  Infor20  Marshall_L        2024_179  Marshall_L_2024_179